@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <h1 class="display-4">Welcome to your Customer Portal</h1>
    <br>
    <p>Where our estimated clients have access to their installed products, and fill an intervention form in case of any technical issue!</p>
    <br>

</div>
<a>
<img class="img-fluid" src="~/images/rocketlogonoslogan.png" alt="client" />
</a>
<br>
<br>
<div class="text-center">
<h1 class="display-4"><a href="https://kngbmermaid.com"> Visit our Official Website</a>.</h1>
</div>