@{
    ViewData["Title"] = "Intervention Form";
}


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
           
<div class="form-group col-md-4 container mt-3" align="center">
    <br>
    <h1 class="m-1 fs-50 fw-300" id="subForm">Intervention Form</h1>
    <hr>

    <%= form_for :intervention do |f| %>
    
<div class="row">


    <div class= "col-md-12">
        <label>Author(AdminUser ID#):</label>  
        <input name = "author_select" style = "display: none;" type= "string" id= "author_id_select" readonly value="<%="#{@intervention.author_id}"%>">
    

      
        <input name = "author_select_show" type= "string" >
        
    </div> 
      
    <div class="col-md-12">
        <%= f.label :company_and_owner %>
        <%= f.collection_select(:customer_id, Customer.order(:id), :id, :customer_info, {prompt: 'Select Customer'}, {:required => true} )%>
    </div>

    <div class="col-md-12" style = "display: none;" id = "building_select">
        <%= f.label :building_id_and_address %>
        <%= f.grouped_collection_select :building_id, Customer.order(:id), :buildings, :customer_info, :id, :company_building, {prompt: 'Select Building:'}, {:required => true}%>
    </div>

    <div class="col-md-12" style = "display: none;" id = "battery_select">
        <%= f.label :battery_id%>
        <%= f.grouped_collection_select(:battery_id, Building.order(:id), :batteries, :company_building, :id, :battery_info, {prompt: 'Select Battery:'}, {:required => true}) %>
    </div>

    <div class="col-md-12" style = "display: none;" id = "column_select">
        <%= f.label :column_id %>
        <%= f.grouped_collection_select(:column_id, Battery.order(:id), :columns, :battery_info, :id, :column_info, prompt: 'Select Column:') %>
    </div>
    <div class="col-md-12" style = "display: none;" id = "elevator_select">
        <%= f.label :elevator_id %>
        <%= f.grouped_collection_select(:elevator_id, Column.order(:id), :elevators, :column_info, :id, :elevator_info, prompt: 'Select Elevator:') %>
    </div>
    <div class="col-md-12">
        <%= f.label :assigned_employee %>
        <%= f.collection_select(:employee_id, Employee.order(:id), :id, :employee_info, {prompt: 'Select Employee:'}) %>
    </div>	
</div>

 