@{
    ViewData["Title"] = "Product Management";
}
<h1>@ViewData["Title"]</h1>

<p>WE GONNA FILL UP THIS BAD BOY, IF DOCKER CAN STOP BEING A B</p>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">Buildings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">Batteries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">Columns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="">Elevators</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Intervention">Intervention Form</a>
                        </li>
                    </ul>
                </div>
            </div>
</div>